<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Filton</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
{% if logiran %}

    <h1>Vnesi svoje podatke</h1>
    <form method="post" action="/rezultat">
        <input name="name" placeholder="Ime in priimek">
        <input name="mail" placeholder="Email">
        <input name="text" placeholder="Sporocilo">
        <button type="submit">Poslji</button>
    </form>

{% else %}
    Če želiš uporabljati GuestBook se prosim <a href="/login">logiraj tu</a>. Če uporabniškega računa še nimaš,
            se <a href="/registracija">registriraj</a>.
{% endif %}

</body>
</html>