<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <a href="/">Domov</a> | <a href = "/registracija">Registriraj se</a>
        <h1>Logiraj se</h1>
        <form method="post" action="/login">
            <input name="email" placeholder="Vnesi svoj email"></br>
            <input name="geslo" placeholder="Vnesi svoje geslo" type="password"></br>
            <button type="submit">Prijavi se</button>
        </form>
    </body>
</html>