<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Podatki sporočila</h1>

    <p>ID : {{ sporocilo.key.id() }}</p>
    <p>Ime in priimek : {{ sporocilo.name }}</p>
    <p>Email: {{ sporocilo.mail }}</p>
    <p>Vase sporocilo: {{ sporocilo.text }}</p>
    <p>Ustvarjeno: {{ sporocilo.created }}</p>

    <a href="/sporocilo/{{ sporocilo.key.id() }}/uredi">Uredi</a>
    <a href="/sporocilo/{{ sporocilo.key.id() }}/izbrisi">Izbrisi</a>
    <a href="/rezultat">rezultat</a>
    <a href="/">hello</a>
    <a href="/seznam">seznam</a>

</body>
</html>