<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <form action="/registracija" method="post">
            <input name="ime" placeholder="Vnesi svoje ime"></br>
            <input name="priimek" placeholder="Vnesi svoj priimek"></br>
            <input name="email" placeholder="Vnesi svoj email"></br>
            <input name="geslo" placeholder="Vnesi svoje geslo" type="password"></br>
            <input name="ponovno_geslo" placeholder="Ponovno vnesi svoje geslo" type="password"></br>
            <button type="submit">Registriraj se</button></br>
        </form>
    </body>
</html>